# Total Carbon


area (a variable in your DataFrame)

AGC = area × 192 × 0.47

BGB = AGC × 0.49

BGC = area × BGB × 0.47

TC = AGC + BGC

In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
# Read CSV file 
solo = pd.read_csv('solo.csv')

In [3]:
# Adding labels 

labels = {
    1: "No mangrove",
    2: "No mangrove to Open Mangrove",
    3: "No mangrove to Closed Mangrove",
    4: "Open Mangrove to No mangrove",
    5: "Open Mangrove",
    6: "Open Mangrove to Closed Mangrove",
    7: "Closed Mangrove to No mangrove",
    8: "Closed Mangrove to Open Mangrove",
    9: "Closed Mangrove"
}

In [4]:
solo['label'] = solo['RasterValue'].map(labels)

In [5]:
#View labels
solo

,RasterValue,Reference,Classification,PixelSum,Area [ha],label
0,1,0,0,18397,183.97,No mangrove
1,2,1,0,1578,15.78,No mangrove to Open Mangrove
2,3,0,1,3666,36.66,No mangrove to Closed Mangrove
3,4,2,0,188,1.88,Open Mangrove to No mangrove
4,5,1,1,22930,229.30,Open Mangrove
5,6,0,2,77,0.77,Open Mangrove to Closed Mangrove
6,7,2,1,9401,94.01,Closed Mangrove to No mangrove
7,8,1,2,13782,137.82,Closed Mangrove to Open Mangrove
8,9,2,2,332092,3320.92,Closed Mangrove

In [6]:
# Sample data for test 
data = solo[["label", "Area [ha]"]]  # Areas are in hectares 
df = pd.DataFrame(data)

In [7]:

# Calculate AGC and round
df['AGC'] = (df['Area [ha]'] * 192 * 0.47).round(5)

# Calculate BGB and round
df['BGB'] = (df['AGC'] * 0.49).round(5)

# Calculate BGC and round
df['BGC'] = (df['Area [ha]'] * df['BGB'] * 0.47).round(5)

# Calculate Total Carbon and round
df['t_TC'] = (df['AGC'] + df['BGC']).round(5)

In [8]:
total_tc = df['t_TC'].sum()
print("Total Carbon (TC) in tonnes classes 1-9:", total_tc)

Total Carbon (TC) in tonnes classes 1-9: 231968036.06511

In [9]:
# Calculate Total Net carbon loss
# Sum of Total Carbon column for specific rows based on the label you determine is a loss,  use index 0-8 and refer to label

net_carbon_loss = df.iloc[[4,7,8]]["t_TC"].sum()  #
print('Carbon loss', net_carbon_loss)

Carbon loss 231017742.23103002

In [10]:
net_change = total_tc - net_carbon_loss
print('Net Carbon change', net_change)

Net Carbon change 950293.8340799809

In [11]:
# Calculate carbon conversion to co2
df['tCO2'] = (df['t_TC'] * (44/12)).round(5)

df

,label,Area [ha],AGC,BGB,BGC,t_TC,tCO2
0,No mangrove,183.97,16601.4528,8134.71187,7.033752e+05,7.199766e+05,2.639914e+06
1,No mangrove to Open Mangrove,15.78,1423.9872,697.75373,5.174960e+03,6.598948e+03,2.419614e+04
2,No mangrove to Closed Mangrove,36.66,3308.1984,1621.01722,2.793045e+04,3.123865e+04,1.145417e+05
3,Open Mangrove to No mangrove,1.88,169.6512,83.12909,7.345286e+01,2.431041e+02,8.913815e+02
4,Open Mangrove,229.30,20692.0320,10139.09568,1.092700e+06,1.113393e+06,4.082439e+06
5,Open Mangrove to Closed Mangrove,0.77,69.4848,34.04755,1.232181e+01,8.180661e+01,2.999576e+02
6,Closed Mangrove to No mangrove,94.01,8483.4624,4156.89658,1.836712e+05,1.921547e+05,7.045672e+05
7,Closed Mangrove to Open Mangrove,137.82,12436.8768,6094.06963,3.947458e+05,4.071827e+05,1.493003e+06
8,Closed Mangrove,3320.92,299679.8208,146843.11219,2.291975e+08,2.294972e+08,8.414896e+08

In [12]:
df.to_csv('carbon_results.csv', index=False)
#df